@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap);
body {
  background-color: #0E0B20;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

input[type=text],
input[type=email],
input[type=password] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #292062;
  outline: 0;
  padding-bottom: 0.5rem;
  width: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
}
input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=password]::-moz-placeholder {
  color: #C2C2C2;
  font-size: 15px;
}
input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder {
  color: #C2C2C2;
  font-size: 15px;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder {
  color: #C2C2C2;
  font-size: 15px;
}

input[type=button],
input[type=submit],
button {
  border-radius: 999px;
  border: 3px solid #DB00C9;
  color: #DB00C9;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-top: 1rem;
}

.container {
  width: 85%;
  margin: auto;
}

.btn-link {
  font-size: 12px;
  display: block;
  color: white;
  font-weight: 600;
  padding: 1rem 0 0 0;
  text-align: left;
}

.login .card, .register .card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login .card-body, .register .card-body {
  text-align: center;
}
.login .card-body .form-group, .register .card-body .form-group {
  padding: 1rem 0 1rem 0;
}
.login .card-body .form-check, .register .card-body .form-check {
  text-align: left;
  font-size: 14px;
}
.login .logo, .register .logo {
  width: 10rem;
  height: 10rem;
  background-image: url("/images/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.login .logo {
  margin: auto;
}

.nav-bar {
  background-color: #1C1737;
  display: flex;
  padding: 2rem;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 93vw;
}
.nav-bar > a {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-bar > a > div:first-child {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 9rem;
  height: 9rem;
}
.nav-bar > a > div:last-child {
  font-size: 26px;
  color: #DB00C9;
}
.nav-bar > a:first-child > div:first-child {
  background-image: url("/images/home.svg");
}
.nav-bar > a:nth-child(2) > div:first-child {
  background-image: url("/images/lecteur.svg");
}
.nav-bar > a:nth-child(3) > div:first-child {
  background-image: url("/images/coeur.svg");
  height: 7rem;
  width: 7rem;
  padding-bottom: 30px;
}
.nav-bar > a:last-child > div:first-child {
  background-image: url("/images/profil.svg");
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
.nav-top .logo {
  width: 16rem;
  height: 16rem;
  background-image: url("/images/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.nav-top .search {
  width: 3rem;
  height: 3rem;
  background-image: url("/images/loupe.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content {
  padding-bottom: 20rem;
}
.home-content h2 {
  font-size: 60px;
}
.home-content .slick-slide {
  height: auto;
  padding: 0 40px 0 0;
}
.home-content .last-releases img,
.home-content .favorites img {
  width: 100%;
  height: 35rem;
}
.home-content .last-releases a,
.home-content .favorites a {
  display: block;
  font-size: 40px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.home-content .last-releases h3,
.home-content .favorites h3 {
  color: #C2C2C2;
  text-decoration: none;
  font-size: 34px;
  font-weight: normal;
  margin: 20px 0 0 0;
}
